<div class="container">
  <h2>Mis tareas</h2>
  <form role="form" ng-submit="addTarea()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="tarea" placeholder="¿Qué tarea quieres guardar?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Añadir">
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <div ui-sortable ng-model="tareas">
    <p class="input-group" ng-repeat="tarea in tareas" style="padding:5px; cursor:move;">
      <input type="text" ng-model="tarea" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="eliminarTarea($index)" aria-label="Eliminar">X</button>
      </span>
    </p>
  </div>
